.report-preview tr {
    border: 0
}

.report-preview u > img {
    max-height: 50px;
}

.nice-select.w-100 {
    width: 100%;
}

select {
    background-image: none !important;
}

.ts-control {
    border-radius: .375rem;
}

.class-performance-summary table tbody tr td,
table tfoot tr th,
table thead tr th {
    font-weight: bold;
    padding: .15rem .2rem;
}

table tbody tr td, table tfoot tr th, table thead tr th {
    padding: .25rem 1rem;
}
